@import "tailwindcss";

:root {
  --background: #FDFCF9;
  --foreground: #171717;
  --font-montserrat: "Montserrat";
  --font-inter: "Inter", sans-serif;
  --swap-orange: #FF7A59;
  --seashell: #FAF5EE
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.swapOrangeBg {
  background: var(--swap-orange);
}

.swapOrangeText {
  color: var(--swap-orange);
}

.seashell {
  background: var(--seashell);
}
